<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <connectionStrings>
    <!--微信token-->
    <add name="WeChatToken" connectionString="wechat" />
    <!--消息控制器插件目录bin文件夹下-->
    <add name="WeChatPluginFolder" connectionString="plugins\\demo" />
    <!--开发者微信号-->
    <add name="WeChatAccountName" connectionString="test" />
  </connectionStrings>
</configuration>
