<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <!--微信token-->
    <add key="WeChatToken" value="wechat" />
    <!--消息控制器插件目录bin文件夹下-->
    <add key="WeChatPluginFolder" value="plugins\\demo" />
    <!--开发者微信号-->
    <add key="WeChatAccountName" value="garywxsandbox" />
  </appSettings>
</configuration>
